/* ------ この辺のスタイルは統一したほうがよさそう ------ */
body.body--dark {
  background: #1d1d1d !important;
  height: 100vh;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin-left: 2px;
  text-align: center;
}

.common-table-header-sticky thead tr th {
  position: sticky;
  z-index: 1;
}

.common-table-header-sticky thead tr:first-child th {
  top: 0;
}

.common-table-header {
  font-weight: bold !important;
  font-size: 14px !important;
  padding: 0px 8px !important;
}

/* 入力フォームが埋め込まれているテーブル */
.input-table-body {
  font-size: 12px !important;
  padding: 0px 12px !important;
}

/* 共通ダイアログ用 */
.editable-field {
  border: none;
  padding: 0;
}

.uneditable-field {
  border: none;
  padding: 0;
  pointer-events: none;
}

/* スクロールバー */
::-webkit-scrollbar {
  height: 12px;
  width: 10px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(169, 169, 169, 0.597);
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: darkgrey;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* ---------------------------------------- */


/* ----- 開発用スタイル ----- */
#development {
  display: flex;
  margin: auto;
  padding: 16px;
  border: 1px solid #ccc;
}

.window-size-small {
  width: calc((100% - 48px) * 0.33 + 2px);
}

.window-size-middle {
  width: calc((100% - 48px) * 0.5 + 2px);
}

.window-size-large {
  width: calc((100% - 48px) * 0.8 + 2px);
}
/* ------------------------- */
